{% extends "::base.html.twig" %}

{% block title %}AppBundle:Livre:index{% endblock %}

{% block body %}
    <h1>AppBundle Controller Livre - Page index</h1>


    {# Utilisation de la fonction TWIG form #}
    {{ form( formulaireLivre ) }}

{% endblock %}
