{% extends "::base.html.twig" %}

{% block title %}AppBundle:Auteur:index{% endblock %}

{% block body %}
    <h1>AppBundle Controller Auteur - Page index</h1>


    {# Utilisation de la fonction TWIG form #}
    {{ form( formulaireAuteur ) }}

{% endblock %}
